---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import { formatPrice } from '@/utils'

interface Props {
  product: CollectionEntry<'product'>
}

const product = Astro.props.product
const price = formatPrice(product.data.price / 1000)
---

<div class="bg-white rounded-md overflow-hidden shadow-sm">
  <div class="h-32 relative">
    <Image
      src={product.data.previewImage}
      alt=""
      width={200}
      height={200}
      class="w-full h-full object-cover"
    />
  </div>
  <div class="py-4 px-4 text-center">
    <p class="text-black font-bold text-sm block uppercase">
      {product.data.name}
    </p>
    <strong class="text-[#bfbfbf] font-normal text-xs">{price}</strong>
  </div>
</div>
