---
import { Image } from 'astro:assets'
---

<div class="bg-white rounded-md overflow-hidden shadow-sm">
  <div class="h-32 relative">
    <Image
      src="https://picsum.photos/seed/picsum/200/300"
      alt=""
      width={200}
      height={200}
      class="w-full h-full object-cover"
    />
  </div>
  <div class="py-4 px-4 text-center">
    <p class="text-black font-bold text-sm block">ALESSIO SUNGLASS</p>
    <strong class="text-[#bfbfbf] font-normal text-xs">$405</strong>
  </div>
</div>
