---
import { Image } from 'astro:assets'
import ProductLayout from '@/layouts/ProductLayout.astro'
import { Icon } from 'astro-icon'
import ProductCounter from '@/islands/product/ProductCounter'
import ProductPrice from '@/islands/product/ProductPrice'
import ProductVariantSelector from '@/islands/product/ProductVariantSelector'
import type { CollectionEntry } from 'astro:content'

interface Props {
  product: CollectionEntry<'product'>
}

const product = Astro.props.product
---

<ProductLayout>
  <div class="pb-20">
    <div class="h-[40vh] relative max-w-4xl mx-auto">
      <Image
        src={product.data.previewImage}
        alt=""
        class="w-full h-full object-contain"
      />
    </div>
    <div
      class="absolute top-0 left-0 right-0 flex items-center justify-between py-5 px-5"
    >
      <button onclick="window.history.back()">
        <Icon name="eva:arrow-back-fill" class="h-8" />
      </button>
      <button>
        <Icon name="mdi:heart-outline" class="h-10" />
      </button>
    </div>
    <div class="max-w-2xl mx-auto px-4">
      <h2 class="font-normal text-2xl mt-5 uppercase">
        <span class="font-bold">{product.data.name.split(' ')[0]}</span>
        <span>{product.data.name.split(' ').slice(1).join(' ')}</span>
      </h2>

      <div class="my-6">
        <ProductVariantSelector
          variants={[
            {
              id: 'variant1',
              color: '#232325',
              name: 'Variant 1',
            },
            {
              id: 'variant2',
              color: '#4b221d',
              name: 'Variant 2',
            },
            {
              id: 'variant3',
              color: '#77695d',
              name: 'Variant 3',
            },
          ]}
          client:load
        />
      </div>

      <div class="flex justify-between items-center">
        <ProductCounter client:load />
        <ProductPrice price={product.data.price / 1000} client:load />
      </div>

      <details
        class="mt-10 [&_summary]:hover:text-neutral-800 [&_.icon-open]:open:hidden [&_.icon-close]:open:inline"
        open
      >
        <summary
          class="uppercase text-neutral-500 list-none flex items-center justify-between transition-colors duration-300"
        >
          <span class="font-medium">Description</span>

          <Icon name="radix-icons:caret-down" class="h-8 icon-open" />
          <Icon name="radix-icons:caret-up" class="h-8 icon-close hidden" />
        </summary>
        <p class="font-bold text-black font-ibm-plex-sans py-2">
          {product.data.description}
        </p>
      </details>

      <details
        class="mt-5 [&_summary]:hover:text-neutral-800 [&_.icon-open]:open:hidden [&_.icon-close]:open:inline"
      >
        <summary
          class="uppercase text-neutral-500 list-none flex items-center justify-between transition-colors duration-300"
        >
          <span class="font-medium">Details</span>

          <Icon name="radix-icons:caret-down" class="h-8 icon-open" />
          <Icon name="radix-icons:caret-up" class="h-8 icon-close hidden" />
        </summary>
        <p class="font-normal text-black font-ibm-plex-sans py-2">
          {product.data.details}
        </p>
      </details>

      <details
        class="mt-5 [&_summary]:hover:text-neutral-800 [&_.icon-open]:open:hidden [&_.icon-close]:open:inline"
      >
        <summary
          class="uppercase text-neutral-500 list-none flex items-center justify-between transition-colors duration-300"
        >
          <span class="font-medium">Delivery</span>

          <Icon name="radix-icons:caret-down" class="h-8 icon-open" />
          <Icon name="radix-icons:caret-up" class="h-8 icon-close hidden" />
        </summary>
        <p class="font-normal text-black font-ibm-plex-sans py-2">
          {product.data.delivery}
        </p>
      </details>
    </div>
  </div>

  <div
    class="fixed bottom-0 left-0 right-0 grid grid-cols-2 md:flex md:justify-end"
  >
    <button
      class="uppercase font-bold font-ibm-plex-sans bg-neutral-200 py-4 px-10 text-black hover:opacity-70"
      >Try with AR</button
    >
    <button
      class="uppercase font-bold font-ibm-plex-sans bg-black text-white py-4 px-10 hover:opacity-70"
      >Add to bag</button
    >
  </div>
</ProductLayout>
