---
import { Icon } from 'astro-icon'
interface Props extends astroHTML.JSX.HTMLAttributes {}
const props = Astro.props
---

<header {...props}>
  <div class="py-5">
    <button>
      <Icon name="eva:grid-fill" class="h-5" />
    </button>
  </div>

  <div class="flex justify-between items-center">
    <h1 class="font-normal text-black uppercase text-xl font-ibm-plex-sans">
      <span class="font-bold">Eye</span><span class="font-medium">Wear</span>
    </h1>
    <div>
      <button>
        <Icon name="system-uicons:sliders" class="h-6" />
      </button>
    </div>
  </div>
</header>
